//font-size
$fs-logo: 40px;
$fs-logo-span: 30px;
$fs-menu: 15px;
$fs-h1: 50px;
$fs-head-descr: 25px;
$fs-latest: 33px;
$fs-latest-bold: 37px;
$fs-btn: 13px;
$fs-other: 10px;
$fs-descr: 18px;

//color
$color-stack: rgb(220, 0, 0);
$color-base: rgb(255, 255, 255);
$color-latest: rgb(51, 51, 51);
$color-text: rgb(119, 119, 119);
$color-bg-item: rgb(221, 221, 221);
$color-product-owerlay: rgb(34, 37, 51);
$color-hr-blog: rgb(236, 240, 241);
$color-dark: rgb(0, 0, 0);

