<section class="footer" id="about">

	<div class="owerlay_bg">

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="form" id="form">

						<div class="row">

							<div class="col-md-7">

								<h3>SUBSCRIBE TO OUR NEWSLETTER TO RECEIVE LATEST NEWS AND OFFERS</h3>
								<input type="email" name="email" placeholder="EMAIL ADDRESS" required/>

							</div>

							<div class="col-md-5">

								<button class="btn_submit" type="submit">SUBSCRIBE</button>

							</div>

						</div> <!--end-row-->

					</div> <!--end-form-->

			</div>

		</div> <!--end-row-->

	</div> <!--end-container-->

	</div> <!--end-owerlay_bg-->

</section> <!--end-footer-->
<div class="bottom_bg" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Made with <img src="../img/heart.png" alt="heart"> by martynuk.info</p>
			</div>
		</div>
	</div>
</div>

<script src="js/main.js"></script>