<section id="page-top" class="header">

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

		<div class="container">

			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Brand <span>ly</span></a>

			</div>
			<!-- /.navbar-header -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="/">Home</a>
					</li>
					<li>
						<a class="page-scroll" href="#shop">Shop</a>
					</li>
					<li>
						<a class="page-scroll" href="#brands">Brands</a>
					</li>
					<li>
						<a class="page-scroll" href="#blog">Blog</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">About</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->

		</div>
		<!-- /.container -->

	</nav>
	<!-- /nav -->
	<div class="header-content">
		<div class="header-content-inner">
			<p class="description-top">Spring / Summer Collection</p>
			<h1>UP TO 60% DISCOUNT ON NEW ARRIVALS</h1>
			<p class="description">TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD</p>
			<a href="#shop" class="btn page-scroll">Shop Now</a>
		</div>
	</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="../img/bg_header-1600.jpg" alt="item1">
			</div>
			<div class="item">
				<img src="../img/bg_header2.jpg" style="opacity: .85;" alt="item2">
			</div>
			<div class="item">
				<img src="../img/bg_header3.jpg" style="opacity: .75;" alt="item3">
			</div>
		</div>
	</div> <!-- Carousel -->

</section>